body {
    font-family: Arial, Helvetica, serif;
    font-size: 1rem;
    background-color: #EFF6E0;
    line-height: 1.6em;
    margin: 0;
}

h1 {
    line-height: 1.3em;
    font-size: 2rem;
}

p {
    margin-bottom: 1.6em;
}

.container {
    width:  100%;
    max-width:  1050px;
    margin: 0 auto;
}

.header {
    background: #01161E;
    color: #EFF6E0;
    padding: 1.2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

    .header a {
        color: #EFF6E0;
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 2px;
    font-size: 1.6em;
}

.navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.3s linear;
        border-radius: 6px;
    }

    .navigation ul li a:hover {
        background: #598392;
    }

.nav a {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.main{
    padding: 5rem;
    width:  75%;
    max-width:  750px;
    margin: 0 auto;
    justify-content: center;
}

.footer {
    background: #01161E;
    color: #EFF6E0;
    padding: 2rem 0;
    justify-content: center;
    margin-top: 3rem;
}

.twitter {
    position: fixed;
    float: right;
    right: 0;
    top: 5rem;
}

img {
    border-style: solid;
    border-color: black;
    margin: 10px;
}

.goals-1 {
    float: left;
    margin: 10px;
}

.html-1 {
    float: left;
    margin: 10px;
}

.ai-1 {
    float: left;
    margin: 10px;
}

p {
    clear: both;
    margin: 10px;
    text-align: justify;
}

h1 {
    text-align: center;
}

