html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #77A6B6
}

.twitter{
    position: absolute;
    top: 113px;
    left: 1020px;
}

section ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A628F;
}

section li{
    float:left;
}

section li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: dashed;
}

section li a:hover {
    background-color: #16324F;
}

.active {
    background-color: #3E92CC;
  }

  img{
    max-width: 25%;
  }

  div.contenedor2 img.izquierda {
    float: left;
    margin-right: 15px;
}

.contenedor2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }